[Unit]
Description=Beszel Agent on Podman
After=podman.service
Requires=podman.service
[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/podman rm --force beszel
ExecStart=/usr/bin/podman run --name beszel --net="host" --pid="host" quay.io/henrygd/beszel-agent:v0.10.1
ExecStop=/usr/bin/podman stop beszel
Restart=always
RestartSec=5s
[Install]
WantedBy=multi-user.target
