[Unit]
Description=Send hostname to Discord via webhook
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/discord-boot-notifier
User=root
Group=root
Restart=on-failure
EnvironmentFile=/etc/secrets/discord-boot-notifier.env

[Install]
WantedBy=multi-user.target
